.button {
  background-color: var(--gray-850);
  color: var(--white);
  border: none;
  height: 3rem;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.5rem;

  font-weight: bold;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    height: 24px;
    width: 24px;

    &:last-child {
      color: var(--gray-300);
    }
  }
}
